<div class="container-fluid user-form">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.text_field :first_name, class: "form-control", autofocus: true, autocomplete: "First Name", placeholder: "Your First Name", required: true %>
    </div>
    <div class="field">
      <%= f.text_field :last_name, class: "form-control", autofocus: true, autocomplete: "Last Name", placeholder: "Your Last Name", required: true %>
    </div>
    <div class="field">
      <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email", placeholder: "Your Email Address", required: true %>
    </div>

    <div class="field">
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: "Your Password", required: true %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off", placeholder: "Re-enter Password", required: true %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
