<div class="col-sm-6 col-md-4" id="product_table">
  <div id="product_table_inner">
    <% logger.debug "Product: #{product.name}"%>
    <% if product.image_url.present? %>
      <%= link_to image_tag(product.image_url, class: "img-responsive"), product %>
    <% end %>
    <h1><%= link_to product.name, product %></h1>
    <p id="product_description"><%= product.description %></p>
    <strong id="product_price">£<%= product.price %></strong>
    <p><%= link_to 'Show', product %></p>
    <% if signed_in? && current_user.admin? %>
      <p><%= link_to 'Edit', edit_product_path(product) %></p>
      <p><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>
  </div>
</div><!-- /col -->
